body {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
a:hover {
  text-decoration: none;
  color: black;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}